* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1.3px;
}
:root {
  --main-color: rgb(158, 53, 255);
  --input-focus: rgb(249, 242, 255);
}
body {
  overflow-x: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
